.pie {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 5px solid hsl(112, 38%, 36%);
  background-color: hsl(101, 47%, 53%);
}

.pie__intentos, .pie__tiempo-numero{
  color: white;
  font-weight: bold;
}

.pie__tiempo-barra {
  height: 40px;
  width: 80%;
  background-color: lightgray;
  border-radius: 20px;
}

.pie__tiempo-barra--restante {
  display: block;
  height: 100%;
  animation-name: comprimir;
  animation-duration: 120s;
}

.pie__tiempo-barra--fondo {
  border: 2px solid hsl(112, 38%, 36%);
}

@keyframes comprimir {
  from { 
    background-color: hsl(48, 94%, 58%);
    width: 100%;
  }
  to { 
    background-color: hsl(0, 94%, 58%);
    width: 0;
  }
}
